@media screen and (max-width: 800px){
    .article{
        flex-direction: column;
        max-width: 350px;
    }

    .img-article{
        height: 230px;
        width: 100%;
    }

    .content-article{
        width: 100%;
    }

    .page .article-container{
        height: 100%;
        padding: 75px 25px;
    }

    .user-share{
        margin-top: 15px;
    }

    .content-article{
        padding: 34px 34px 20px 34px;
        position: relative;
    }

    .content-article h1{
        font-size: 1.25em;
    }

    .article-share{
        position: initial;
        display: flex;
        align-items: center;
    }

    .share-element{
        top: inherit !important;
        transform: initial;
        bottom: 0;
        left: 0;
        width: 100%;
        font-size: 1.25em;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 0 !important;
        border-top-left-radius: 0 !important;
    }

    .content-share{
        padding: 25px 25px;
    }

    .share-element::after{
        display: none;
    }

    .img-article{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }

    #btn-share{
        z-index: 99;
        bottom: 0;
    }
}